# Node modules
node_modules

# Next.js build output
.next

# Next.js static files
out

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env.local
.env.*.local

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Mac system files
.DS_Store

# OS and editor specific files
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
.history/

# Coverage directory (if you are using Jest or other testing tools)
coverage

# TypeScript cache (if using TypeScript)
*.tsbuildinfo
